.navbar {
  background: rgb(13, 130, 181);
  color: #fff;
}

.brand,
.list_item {
  color: #fff;
}

.list_item:hover {
  color:rgb(98, 164, 222);
}

.btn {
  background: rgb(26, 119, 159);
  border: none;
  border-radius: 20px;
  color: #fff;
}

.btn:hover {
  background: rgb(98, 164, 222);
}

.customer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.customer-header {
  text-align: center;
  margin-bottom: 20px;
}

.customer-details {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.customer-info {
  margin-bottom: 10px;
}

.info-label {
  font-weight: bold;
}

.customer-actions {
  text-align: center;
  margin-top: 20px;
}

.customer-actions button {
  margin-right: 10px;
}

.customer-actions button:last-child {
  margin-right: 0;
}